{# src/Echyzen/TestBundle/Resources/views/layout.html.twig #}

{% extends "::public.html.twig" %}

{% block title %}
  {{ parent() }} - Test
{% endblock %}



{% block stylesheet %}

	{{ parent() }}
	{% stylesheets '@EchyzenTestBundle/Resources/public/css/*' %}

		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  	{% javascripts '@EchyzenTestBundle/Resources/public/js/modernizr.custom.js'
  		'@EchyzenTestBundle/Resources/public/js/classie.js'
  		'@EchyzenTestBundle/Resources/public/js/helper.js'
  		'@EchyzenTestBundle/Resources/public/js/grid3d.js'
  		'@EchyzenTestBundle/Resources/public/js/testAjax.js'
  		
  	 %}
    	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	    	<script>
			new grid3D( document.getElementById( 'grid3d' ) );
		</script>
{% endblock %}

{% block body %}

	{# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	<div id="bandeau"><h1 class="bandeau_titre">Tests</h1><div id="bandeau_centre"></div></div>
 

	<div id="corps_bis">


		<div id="test_container">

			{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
			{% block echyzen_test_body %}
			{% endblock %}
		
		</div>

		<div id="test_categorie">
			<div id="test_type">
				<h2>Type</h2>
				<ul>
					<li><a href="{{ path('test', { 'type': 'test'}) }}">Tout les tests</a></li>
					<li><a href="{{ path('test', { 'type': 'film'}) }}">Film</a></li>
					<li><a href="{{ path('test', { 'type': 'livre'}) }}">Livre</a></li>
					<li><a href="{{ path('test', { 'type': 'video'}) }}">Jeux Video</a></li>
				</ul>
			</div>

			<div id="test_genre">
				<h2>Genre</h2>
				<ul>
					<li><a href="3" value="1" >Policier</a></li>
					<li><a href="5" value="0" >Fantatisque</a></li>
				</ul>
			</div>	
		</div> <!-- test_categorie -->


	</div>


{% endblock %}