{# src/Echyzen/NewsBundle/Resources/views/layout.html.twig #}

{% extends "::public.html.twig" %}

{% block title %}
  {{ parent() }} - News
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	{% javascripts '@EchyzenNewsBundle/Resources/public/js/newsAjax.js' filter="?yui_js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	{% stylesheets '@EchyzenNewsBundle/Resources/public/css/*'
		 filter="?compass, cssrewrite, yui_css" 
	%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}


{% block body %}
	<div id="bandeau"><h1 class="bandeau_titre">News</h1><div id="bandeau_centre"></div></div>
	<div id="corps_bis">
		<div id="news_container">
			{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
			{% block echyzen_news_body %}
			{% endblock %}
			<div id="news1bis">
			</div>
		</div>
		<div id="news_categorie">
			<div id="rubrique">
				<h2>Rubrique</h2>
				<ul>
				{% for rubrique in rubriques %}
        			<li><a value="7" href="{{ path('news_by_rubrique', {'id': rubrique.id}) }}">
        				{{ rubrique.nom | upper }}
        				<span class="news_count" >{{ rubrique.co }}</span>
        			</a></li>
    			{% endfor %}
				</ul>
			</div>

			<div id="archive">
				<h2>Archive</h2>
				<ul>
					{% for d in dates %}
						<li>
							<a href="{{ path('news_by_month', {'year': d.date| date("Y"), 'month' : d.date| date("m")}) }}">
								{{ d.date| date("F - Y")   }}
								<span class="news_count" >
									{{ d.count }}
								</span>
							</a>
						</li>
    				{% endfor %}
				</ul>
			</div>
			<div id="mot_cle">
				<h2>Mots-Clés</h2>
				<ul>
					{% for motCle in motCles %}
						<li>
							<a href="{{ path('news_by_motcle', {'id': motCle.id}) }}">
								{{ motCle.nom }}
								<span class="news_count" >
									{{ motCle.co }}
								</span>
							</a>
						</li>
    				{% endfor %}			
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
