{% extends "EchyzenNewsBundle::layout.html.twig" %}

{% block test %}
    {% for rubrique in rubriques %}
        <li><a href="{{ rubrique.id }}">{{ rubrique.nom }}</a></li>
    {% endfor %}
    
{% endblock %}
{% block echyzen_news_body %}
   

   {# <h1>News list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Rubrique</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Publication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        #}
        {% for key, entity in entities %}
            


                <h2>{{ entity.titre }}</h2>
    <p>Ecrit le  {{ entity.date|date('d/m/Y à  H\hi') }}</p>
    <p><img title="{{ test[key].nom }}" alt="{{ test[key].nom }}" src="{{ asset( 'bundles/echyzennews/images/' ~ test[key].nom ~ '.png')}}" style="float:left; margin-right: 15px;" />
    <span style="text-align: center;">
        {{  entity.contenu|raw|nl2br|markdown }}
    </span></p><hr />

{#
<a href="https://twitter.com/share" data-text="loooooool" class="twitter-share-button" data-url="https://test" data-via="alex" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>#}
{{ twitterButton( path('news_show',{ 'id': entity.id}), 'lol') | raw}}




            {#<tr>
                <td><a href="{{ path('news_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.rubrique }}</td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.contenu }}</td>
                <td>{{ entity.publication }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('news_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('news_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>#}
        {% endfor %}
        {#</tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('news_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}


    <form method="post" {{form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
    {% endblock %}