  {% for key, entity in entities %}
        <article class="news" value="0">

            <h2 class="news_titre">
                <img class="img_miniature" title="{{ entity.rubrique.image.alt }}" alt="{{ entity.rubrique.image.alt }}" src="{{ asset( 'uploads/img/' ~  entity.rubrique.image.id ~ '.' ~ 
                entity.rubrique.image.url) }}" />
                {{ entity.titre }}
                <span> {{ entity.commentaires | length }}  commentaires</span>
            </h2>
            <div class="news_panneau">
                <img title="{{ entity.image.alt }}" alt="{{ entity.image.alt }}"
                src="{{ asset( 'uploads/img/' ~  entity.image.id ~ '.' ~ 
                entity.image.url) }}" style="float:left; margin-right: 15px;" />


                <div class="news_mot_cle">

                    <p>
                        <span style="">{{  entity.contenu|parse}}</span>

                        <span style="float : right; color: rgba(0,0,0,0.4);
                        text-shadow: 0 0 1px rgba(0,0,0,0.1);
                        font-weight: 600;
                        font-size: 1.8em;">Lire la suite...</span>

                        <span class="mot_cle">Mots-Clés : #Ajax</span>
                    </p>
                   


                    <div class="tests">
                        <hr />
                        <div class="news_button">
                            {{ twitterButton( path('news_show',{ 'id': entity.id}), 'lol') | raw}}

                            {# génération du bouton commentaire #}
                            <button class="showTop" value="{{ entity.id }}">Ajouter Commentaire</button>
                        </div>
                        <div class="commentaire" style="">
                            {% for commentaire in entity.commentaires %}
                                <div class="commentaire_contenu">
                                    <p>
                                        Ecrit le : {{ commentaire.date|date('d/m/Y à  H:i') }}<br />
                                        Pseudo : {{ commentaire.auteur }} 
                                    </p>
                                    <p style="margin-left : 30px; ">
                                        Commentaire : 
                                        {{ commentaire.contenu }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                
                <footer class="news_footer">
                    
                    <p>
                        {#<span>Mots-Clés : #Ajax</span>#}
                        Ecrit le  {{ entity.date|date('d/m/Y à  H:i') }}
                        
                    </p>
                </footer>
            </div>
        </article>
    {% endfor %}