{# src/Echyzen/Admin/Resources/views/rubrique/create.html.twig #}

{% extends "EchyzenAdminBundle::layout.html.twig" %}


{% block body -%}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>{{ type |capitalize }} create</h1>

    <h2>{{ type |capitalize }} creation</h2>
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
    
    <a href="{{ path('admin_test_liste', { 'type' : type}) }}">Retour</a>
    
{% endblock %}