<section class="grid3d vertical" id="grid3d">
  <div class="grid-wrap">
    <div class="grid tile">


    {% for key, entity in entities %}
    
      <figure class="tile_effect">
        <a href="{{ path('test_show', {'id' : entity.id }) }}">
      <h2>{{entity.titre}}</h2>
      <img  title="{{ entity.image.alt }}" alt="{{ entity.image.alt }}" src="{{ asset( 'uploads/img/' ~  entity.image.id ~ '.' ~ 
        entity.image.url) }}" />
      <figcaption>
        <p style="float: left;" class="tile_effect_date">Ecrit le : {{ entity.date|date('d/m/Y à H:i') }}</p>
        <p class="tile_effect_icon">
          <span class="tile_effect_icon_heart"></span>
          <span class="tile_effect_icon_eye"></span>

          <span class="tile_effect_icon_social">
            <span class="tile_effect_icon_twitter"></span>
            <span class="tile_effect_icon_facebook"></span>
            <span class="tile_effect_icon_google"></span>
          </span>
        </p>
        <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
      </figcaption> 
      </a>   
    </figure>
    {% endfor %}
    </div>
  </div><!-- /grid-wrap -->
  <div class="content">
    {% for key, entity in entities %}
      <div >
      </div>
    {% endfor %}
    <!--  style="background-color : rgba(200,80,77, 0.5); height : 100vh;" -->
    <span class="loading"></span>
    <span class="icon close-content"></span>
  </div>
</section>