<h2>{{ entity.titre }}</h2>
<p style="float : left; font-size : 0.5em;">Ecrit le  {{ entity.date|date('d/m/Y à  H\hi') }}</p>
<h3 style="clear : left;">Présentation</h3>
<p>
	<strong>Date de sortie : </strong>{{ entity.dateSortie|date('d/m/Y') }}<br />
	<strong>Avis : </strong>{{ entity.avis }}<br />
	<strong>Public visée : </strong>{{ entity.publicConcerne }}<br />
	{% if foo is defined %}
		<strong>Adaptation : </strong> {{ entity.adaptation }}<br />
	{% endif %}
    <strong>Genre : </strong>{% for val in entity.genres %} {{ val.nom }}{% endfor %}<br />
</p>
<h3>Contenu</h3>
<p>
	<span style="text-align: center;">
        {{  entity.contenu|parse }}
    </span>
</p>