{# src/Echyzen/IndexBundle/Resources/views/layout.html.twig #}

{% extends "::public.html.twig" %}

{% block title %}
  {{ parent() }} - Index
{% endblock %}
{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" media="screen" type="text/css" title="Design" href="{{ asset('bundles/echyzenindex/css/index_design.css') }}" />
	
	<script src="{{ asset('bundles/echyzenindex/js/modernizr.custom.79639.js') }}" type="text/javascript" ></script>
{% endblock %}

{% block body %}

						<!--<video autoplay loop poster="images/test2.png" id="bgvid">
				<source src="{{ asset('bundles/echyzenindex/images/polina2.webm') }}" type="video/webm">
				<source src="{{ asset('bundles/echyzenindex/images/polina2.mp4') }}" type="video/mp4">
			</video>-->
   <div id="slider" class="sl-slider-wrapper">

		<div class="sl-slider">
		
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
				<div class="sl-slide-inner">
					
					<div class="bg-img"><img alt="paysage" src="{{ asset('bundles/echyzenindex/images/banniere.png') }}" /></div>
					<h2>Bienvenue !!!</h2>
					<p>Echyzen de l'informatique à l'infographie tout y passe</p>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
				<div class="sl-slide-inner">
					<div class="bg-img"><img alt="paysage" src="{{ asset('bundles/echyzenindex/images/2.jpg') }}" /></div>
					<h2>Regula aurea.</h2>
					<p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">

					<div class="bg-img"><img alt="paysage" src="{{ asset('bundles/echyzenindex/images/3.jpg') }}" /></div>
					<h2>Dum spiro, spero.</h2>
					<p>Thousands of people who say they 'love' animals sit down once or twice a day to enjoy the flesh of creatures who have been utterly deprived of everything that could make their lives worth living and who endured the awful suffering and the terror of the abattoirs.</p>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img"><img alt="paysage" src="{{ asset('bundles/echyzenindex/images/4.jpg') }}" /></div>
					<h2>Donna nobis pacem.</h2>
					<p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img"><img alt="paysage" src="{{ asset('bundles/echyzenindex/images/5.jpg') }}" /></div>
					<h2>Acta Non Verba.</h2>
					<p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p>
				</div>
			</div>
			
				<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="60" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-4"></div>
					<!--<h2>Donna nobis pacem.</h2>
					<h3>lol</h3>
					The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p>
				--></div>
			</div>
		</div><!-- /sl-slider -->

		<nav id="nav-arrows" class="nav-arrows">
			<span class="nav-arrow-prev">Previous</span>
			<span class="nav-arrow-next">Next</span>
		</nav>
		
		<nav id="nav-dots" class="nav-dots">
			<span class="nav-dot-current"></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</nav>

	</div><!-- /slider-wrapper -->






			<div id="screen1">

				<div class="pannel" href="echyzen.fr.nf">
					<a class="lien_panneau" href="./index.html">
						<h2>News</h2>
						<img src="images/icon/news.png" />
						<p>	Pour connaître les dernières trouvailles
						</p>
					</a>
					
					<a class="lien_panneau" href="./index.html">
						<h2>Galerie</h2>
						<img src="images/icon/galerie.png" />
						<p>	C'est ici pour visiter mes créations!!!
						</p>
					</a>
					<a class="lien_panneau" href="./index.html">
						<h2>Projet</h2>
						<img src="images/icon/projet.png" />
						<p>	Les projets : leurs explications, leurs buts!!!
						</p>
					</a>
				</div>
				
				
				<div class="pannel" href="echyzen.fr.nf">
					<a class="lien_panneau" href="echyzen.fr.nf">
						<h2>Test</h2>
						<img src="images/icon/test.png" />
						<p>	Mes tests, découvertes et appréciations
						</p>
					</a>
					
					<a class="lien_panneau" href="echyzen.fr.nf">
						<h2>Tuto</h2>
						<img src="images/icon/tuto.png" />
						<p>	Les petites astuces obscures du web délivrées par votre serviteur :D
						</p>
					</a>
					<a class="lien_panneau" href="echyzen.fr.nf">
						<h2>Site</h2>
						<img src="images/icon/site.png" />
						<p>	Tout ce qui concerne le site ainsi que son webmaster!!!
						</p>
					</a>
				</div>
			</div>

			<div id="screen2">
				<div id="screen2_left">



					
					<section id="section_new">
						<h2>Dernières News</h2>
						
								<a href="test">
							<article>
						

								 <div class="hex_icon">		
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="hexagon-in2" style="background-image: url(images/add.png);">                
										</div>
									 </div>
								 </div>
							</div>
						<p>Nouvelle composition : Smooth &amp flat</p>
						<hr />
						<p>Samedi 1er Mars -16HOO-</p>

								 
							  
							</article>
						</a>	

							<a href="test">
							<article>
						

								 <div class="hex_icon">		
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="hexagon-in2" style="background-image: url(images/add.png);">                
										</div>
									 </div>
								 </div>
							</div>
						<p>Nouvelle composition : Smooth &amp flat</p>
						<hr />
						<p>Samedi 1er Mars -16HOO-</p>

								 
							  
							</article>
						</a>
					</section>
					<section id="section_livre_or">
						
						<h2>Livre d'or</h2>
						
						<div class="com">
							<img src="images/add.png" />
							<span class="pseudo">Echyzen</span>
							<span class="date">Samedi 1er Mars -16HOO-</span>
							<span class="contenu">Très sympa vraiment j'adore et adhere :)</contenu>
							<a class="repondre" href="test">Repondre</a>
							
						</div>
					</section>
				</div>
				<div id="screen2_right">
					<section id="section_com">
						<h2>Derniers commentaires</h2>
						<p>ereg
							rer<br />
							ere<br />
							re<br />
							reer<br />
							rrerereretreetretretretretertreterereerererererre<br />
							retertret ertre<br />
							tre<br />
							tre<br />
							ter	tre	tre	r
						</p>
					
					</section>
					<section id="section_post">
						<h2>Derniers posts</h2>
						<p>ereg
							rer<br />
							ere<br />
							re<br />
							reer<br />
							rrerereretreetretretretretertreterereerererererre<br />
							retertret ertre<br />
							tre<br />
							tre<br />
							ter	tre	tre	r
						</p>
					</section>

				</div>

			</div>





{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/echyzenindex/js/jquery.ba-cond.min.js') }}" type="text/javascript" ></script>
	<script src="{{ asset('bundles/echyzenindex/js/jquery.slitslider.js') }}" type="text/javascript" ></script>
	<script type="text/javascript">	
			$(function() {
			
				var Page = (function() {

					var $navArrows = $( '#nav-arrows' ),
						$nav = $( '#nav-dots > span' ),
						slitslider = $( '#slider' ).slitslider( {
							onBeforeChange : function( slide, pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),

						init = function() {

							initEvents();
							
						},
						initEvents = function() {

							// add navigation events
							$navArrows.children( ':last' ).on( 'click', function() {

								slitslider.next();
								return false;

							} );

							$navArrows.children( ':first' ).on( 'click', function() {
								
								slitslider.previous();
								return false;

							} );

							$nav.each( function( i ) {
							
								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slitslider.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );
									
									}
									
									slitslider.jump( i + 1 );
									return false;
								
								} );
								
							} );

						};

						return { init : init };

				})();

				Page.init();
			});
		</script>
{% endblock %}